| Method                      | Shortcut | Description                                                                 |
|----------------------------|----------|-----------------------------------------------------------------------------|
| `add()`                    | –        | Adds an element to the set                                                 |
| `clear()`                  | –        | Removes all the elements from the set                                      |
| `copy()`                   | –        | Returns a copy of the set                                                  |
| `difference()`             | `-`      | Returns a set containing the difference between two or more sets           |
| `difference_update()`      | `-=`     | Removes the items in this set that are also included in another set        |
| `discard()`                | –        | Removes the specified item                                                 |
| `intersection()`           | `&`      | Returns a set that is the intersection of two other sets                   |
| `intersection_update()`    | `&=`     | Removes the items in this set that are not present in other set(s)         |
| `isdisjoint()`             | –        | Returns whether two sets have an intersection or not                       |
| `issubset()`               | `<=`     | Returns True if all items of this set are present in another set           |
|                            | `<`      | Returns True if all items of this set are in another, larger set           |
| `issuperset()`             | `>=`     | Returns True if all items of another set are present in this set           |
|                            | `>`      | Returns True if all items of another, smaller set are present in this set  |
| `pop()`                    | –        | Removes an element from the set                                            |
| `remove()`                 | –        | Removes the specified element                                              |
| `symmetric_difference()`   | `^`      | Returns a set with the symmetric differences of two sets                   |
| `symmetric_difference_update()` | `^=` | Inserts the symmetric differences from this set and another                |
| `union()`                  | `\|`     | Returns a set containing the union of sets                                 |
| `update()`                 | `\|=`    | Updates the set with the union of this set and others                      |

# Set
Sets are used to store multiple items in a single variable.

Set is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Tuple, and Dictionary, all with different qualities and usage.

A set is a collection which is unordered, unchangeable*, and unindexed.

In [1]:
st = {'apple','orange','mango'}
st

{'apple', 'mango', 'orange'}

## Set Items
Set items are unordered, unchangeable, and do not allow duplicate values.

## Unordered
Unordered means that the items in a set do not have a defined order.

Set items can appear in a different order every time you use them, and cannot be referred to by index or key.

## Unchangeable
Set items are unchangeable, meaning that we cannot change the items after the set has been created.

## Duplicates Not Allowed
Sets cannot have two items with the same value.

In [2]:
thisset = {"apple", "banana", "cherry", "apple"}

print(thisset)

{'apple', 'cherry', 'banana'}

<mark> Note: The values True and 1 are considered the same value in sets, and are treated as duplicates: </mark>

<mark>Note: The values False and 0 are considered the same value in sets, and are treated as duplicates: </mark>

## Get the Length of a Set
To determine how many items a set has, use the len() function.

In [3]:
thisset = {"apple", "banana", "cherry"}

print(len(thisset))

3

## Set Items - Data Types
Set items can be of any data type:

In [4]:
set1 = {"apple", "banana", "cherry"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}
set1 = {"abc", 34, True, 40, "male"}

## type()
From Python's perspective, sets are defined as objects with the data type 'set':

In [5]:
myset = {"apple", "banana", "cherry"}
print(type(myset))

<class 'set'>

## The set() Constructor
It is also possible to use the set() constructor to make a set.

In [6]:
thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)

{'apple', 'cherry', 'banana'}

# Access Set Items
You cannot access items in a set by referring to an index or a key.

But you can loop through the set items using a for loop, or ask if a specified value is present in a set, by using the in keyword.

In [7]:
# Loop through the set, and print the values:

thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

apple
cherry
banana

In [8]:
# Check if "banana" is present in the set:

thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)

True

In [9]:
# Check if "banana" is NOT present in the set:

thisset = {"apple", "banana", "cherry"}

print("banana" not in thisset)

False

# Add Set Items
<mark>Once a set is created, you cannot change its items, but you can add new items.</mark>

To add one item to a set use the add() method.

In [10]:
# Add an item to a set, using the add() method:

thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'apple', 'cherry', 'banana', 'orange'}

## Add Sets
To add items from another set into the current set, use the update() method.

In [11]:
set1 = {1,2,3,4,5}
set2 = {6,7,8,9}

set1.update(set2)
set1

{1, 2, 3, 4, 5, 6, 7, 8, 9}

## Add Any Iterable
The object in the update() method does not have to be a set, it can be any iterable object (tuples, lists, dictionaries etc.).

In [12]:
set1 = {'hello','hi','can'}
set2 = [6,7,8,9]

set1.update(set2)
set1

{6, 7, 8, 9, 'can', 'hello', 'hi'}

# Remove Set Items
To remove an item in a set, use the remove(), or the discard() method.

In [13]:
# Remove "banana" by using the remove() method:

thisset = {"apple", "banana", "cherry"}
thisset.remove('banana')
thisset

{'apple', 'cherry'}

<mark>Note: If the item to remove does not exist, remove() will raise an error.</mark>

In [14]:
# Remove "banana" by using the discard() method:

thisset = {"apple", "banana", "cherry"}
thisset.discard('banana')
thisset

{'apple', 'cherry'}

### pop()

You can also use the pop() method to remove an item, but this method will remove a random item, so you cannot be sure what item that gets removed.

The return value of the pop() method is the removed item.

<mark>Note: Sets are unordered, so when using the pop() method, you do not know which item that gets removed.</mark>

In [16]:
thisset = {"apple", "banana", "cherry"}

x = thisset.pop()

print(x)

print(thisset)

apple
{'cherry', 'banana'}

### clear()

this methode clear all values in a set

In [15]:
# The clear() method empties the set:

thisset = {"apple", "banana", "cherry"}

thisset.clear()

print(thisset)

set()

### del()
The del keyword will delete the set completely:

In [17]:
del thisset

# Loop Sets
You can loop through the set items by using a for loop:

In [18]:
# Loop through the set, and print the values:

thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

apple
cherry
banana

# Join Sets
There are several ways to join two or more sets in Python.

The union() and update() methods joins all items from both sets.

The intersection() method keeps ONLY the duplicates.

The difference() method keeps the items from the first set that are not in the other set(s).

The symmetric_difference() method keeps all items EXCEPT the duplicates.

## Union
The union() method returns a new set with all items from both sets.

In [21]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
set3

{1, 2, 3, 'a', 'b', 'c'}


You can use the | operator instead of the union() method, and you will get the same result.

In [23]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1 | set2
set3

{1, 2, 3, 'a', 'b', 'c'}

## Join Multiple Sets
All the joining methods and operators can be used to join multiple sets.

When using a method, just add more sets in the parentheses, separated by commas:

In [25]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

set5 = set1 | set2 | set3 | set4
set5

{1, 2, 3, 'Elena', 'John', 'a', 'apple', 'b', 'bananas', 'c', 'cherry'}

## Join a Set and a Tuple
The union() method allows you to join a set with other data types, like lists or tuples.

The result will be a set.

In [27]:
x = {"a", "b", "c"}
y = (1, 2, 3)

z = x.union(y)
z

{1, 2, 3, 'a', 'b', 'c'}

<mark>Note: The  | operator only allows you to join sets with sets, and not with other data types like you can with the  union() method.</mark>

## Update
The update() method inserts all items from one set into another.

The update() changes the original set, and does not return a new set.

In [28]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
set1

{1, 2, 3, 'a', 'b', 'c'}

<mark>Note: Both union() and update() will exclude any duplicate items.</mark>

## Intersection
Keep ONLY the duplicates

The intersection() method will return a new set, that only contains the items that are present in both sets.

In [30]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.intersection(set2)
set3

{'apple'}

You can use the & operator instead of the intersection() method, and you will get the same result.

In [31]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 & set2
set3

{'apple'}

<mark>Note: The & operator only allows you to join sets with sets, and not with other data types like you can with the intersection() method.</mark>


The intersection_update() method will also keep ONLY the duplicates, but it will change the original set instead of returning a new set.

In [1]:
# Keep the items that exist in both set1, and set2:

set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.intersection_update(set2)
set1

{'apple'}

The values True and 1 are considered the same value. The same goes for False and 0.

In [2]:
# Join sets that contains the values True, False, 1, and 0, and see what is considered as duplicates:

set1 = {"apple", 1,  "banana", 0, "cherry"}
set2 = {False, "google", 1, "apple", 2, True}

set3 = set1.intersection(set2)

print(set3)

{False, 1, 'apple'}

## Difference
The difference() method will return a new set that will contain only the items from the first set that are not present in the other set.

In [4]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.difference(set2)
set3

{'banana', 'cherry'}

You can use the - operator instead of the difference() method, and you will get the same result.

In [5]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 - set2
set3

{'banana', 'cherry'}

<mark>Note: The - operator only allows you to join sets with sets, and not with other data types like you can with the difference() method.</mark>

The difference_update() method will also keep the items from the first set that are not in the other set, but it will change the original set instead of returning a new set.

In [7]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.difference_update(set2)
set1

{'banana', 'cherry'}

## Symmetric Differences
The symmetric_difference() method will keep only the elements that are NOT present in both sets.

In [8]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.symmetric_difference(set2)
set3

{'banana', 'cherry', 'google', 'microsoft'}

You can use the ^ operator instead of the symmetric_difference() method, and you will get the same result.

In [9]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 ^ set2
set3

{'banana', 'cherry', 'google', 'microsoft'}

<mark>Note: The ^ operator only allows you to join sets with sets, and not with other data types like you can with the symmetric_difference() method.</mark>

## symmetric_difference_update() 
method will also keep all but the duplicates, but it will change the original set instead of returning a new set.

In [11]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.symmetric_difference_update(set2)
set1

{'banana', 'cherry', 'google', 'microsoft'}

# frozenset
frozenset is an immutable version of a set.

Like sets, it contains unique, unordered, unchangeable elements.

Unlike sets, elements cannot be added or removed from a frozenset.

## Creating a frozenset
Use the frozenset() constructor to create a frozenset from any iterable.

In [12]:
x = frozenset({1,2,3,3,4,5,6,7,5,2})
x

frozenset({1, 2, 3, 4, 5, 6, 7})

## Frozenset Methods
Being immutable means you cannot add or remove elements. However, frozensets support all non-mutating operations of sets.

| Method                  | Shortcut     | Description                                                  | Try it |
|------------------------|--------------|--------------------------------------------------------------|--------|
| `copy()`               | –            | Returns a shallow copy                                       |        |
| `difference()`         | `-`          | Returns a new frozenset with the difference                  |        |
| `intersection()`       | `&`          | Returns a new frozenset with the intersection                |        |
| `isdisjoint()`         | –            | Returns whether two frozensets have an intersection          |        |
| `issubset()`           | `<=` / `<`   | Returns True if this frozenset is a (proper) subset of another |        |
| `issuperset()`         | `>=` / `>`   | Returns True if this frozenset is a (proper) superset of another |        |
| `symmetric_difference()` | `^`        | Returns a new frozenset with the symmetric differences       |        |
| `union()`              | `\|`         | Returns a new frozenset containing the union                 |        |