# Python Tuples
- Tuples are used to store multiple items in a single variable.

- Tuple is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Set, and Dictionary, all with different - - qualities and usage.

- A tuple is a collection which is ordered and unchangeable.

- Tuples are written with round brackets.

In [22]:
first_tuple = ('hello','my','Dear','appu','kutta')
first_tuple

('hello', 'my', 'Dear', 'appu', 'kutta')

## Tuple Items
- Tuple items are ordered, unchangeable, and allow duplicate values.

- Tuple items are indexed, the first item has index [0], the second item has index [1] etc.

    ### Ordered
    1. When we say that tuples are ordered, it means that the items have a defined order, and that order will not change.
    ### Unchangeable
    1. Tuples are unchangeable, meaning that we cannot change, add or remove items after the tuple has been created.
    ### Allow Duplicates
    - Since tuples are indexed, they can have items with the same value:

## Tuple Length
To determine how many items a tuple has, use the len() function:

In [23]:
len(first_tuple)

5

## Create Tuple With One Item
To create a tuple with only one item, you have to add a comma after the item, otherwise Python will not recognize it as a tuple.

In [24]:
single_item = ('water')
print(type(single_item),single_item)

with_comma = ('water',)
print(type(with_comma),with_comma)

<class 'str'> water
<class 'tuple'> ('water',)

## Tuple Items - Data Types
Tuple items can be of any data type:

In [25]:
tuple1 = ("apple", "banana", "cherry")
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)

## type()
From Python's perspective, tuples are defined as objects with the data type 'tuple':

In [26]:
mytuple = ("apple", "banana", "cherry")
print(type(mytuple))

<class 'tuple'>

## The tuple() Constructor
It is also possible to use the tuple() constructor to make a tuple.

In [27]:
data_tuple = tuple((1,2,3,4))
data_tuple

(1, 2, 3, 4)

---

# Access Tuple Items
You can access tuple items by referring to the index number, inside square brackets:

In [28]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

banana

## Negative Indexing
- Negative indexing means start from the end.

- -1 refers to the last item, -2 refers to the second last item etc.|

In [29]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[-1])

cherry

## Range of Indexes
- You can specify a range of indexes by specifying where to start and where to end the range.

- When specifying a range, the return value will be a new tuple with the specified items.

In [30]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])

('cherry', 'orange', 'kiwi')

## Check if Item Exists
To determine if a specified item is present in a tuple use the in keyword:

In [31]:
thistuple = ("apple", "banana", "cherry")
if "apple" in thistuple:
  print("Yes, 'apple' is in the fruits tuple")

Yes, 'apple' is in the fruits tuple

---

# Update Tuples
Tuples are unchangeable, meaning that you cannot change, add, or remove items once the tuple is created.

But there are some workarounds.|

## Change Tuple Values
Once a tuple is created, you cannot change its values. Tuples are unchangeable, or immutable as it also is called.

But there is a workaround. You can convert the tuple into a list, change the list, and convert the list back into a tuple.

In [32]:
tpl = (1,2,3,4,5,6,7)
tpl = list(tpl)
tpl[2] = 10
tpl = tuple(tpl)
tpl

(1, 2, 10, 4, 5, 6, 7)

## Add Items
Since tuples are immutable, they do not have a built-in append() method, but there are other ways to add items to a tuple.

1. Convert into a list: Just like the workaround for changing a tuple, you can convert it into a list, add your item(s), and convert it back into a tuple.

In [33]:
tpl = (1,2,3,4,5)
lst_tpl = list(tpl)
lst_tpl.append(20)
tpl = tuple(lst_tpl)
tpl

(1, 2, 3, 4, 5, 20)

2. Add tuple to a tuple. You are allowed to add tuples to tuples, so if you want to add one item, (or many), create a new tuple with the item(s), and add it to the existing tuple:

In [34]:
main_tpl = ('car','bus','bike')
val_tpl = ('plane','ship')
main_tpl += val_tpl
main_tpl

('car', 'bus', 'bike', 'plane', 'ship')

## Remove Items     
<mark> Note: You cannot remove items in a tuple. </Mark>

Tuples are unchangeable, so you cannot remove items from it, but you can use the same workaround as we used for changing and adding tuple items:

In [35]:
tpl = ('car','bus','bike')
lst_tpl = list(tpl)
lst_tpl.remove('car')
tpl = tuple(lst_tpl)
tpl

('bus', 'bike')

Or you can delete the tuple completely:
The del keyword can delete the tuple completely:

In [36]:
del tpl

---

# Unpack Tuples
- When we create a tuple, we normally assign values to it. This is called "packing" a tuple:
- But, in Python, we are also allowed to extract the values back into variables. This is called "unpacking":

#### Example
Unpacking a tuple:

In [37]:
tpl_fruits = ('mango','orange','berry')
(mango,orange,berry) = tpl_fruits
print(mango,orange,berry)

mango orange berry

<mark>Note: The number of variables must match the number of values in the tuple, if not, you must use an asterisk to collect the remaining values as a list.</mark>

## Using Asterisk*
If the number of variables is less than the number of values, you can add an * to the variable name and the values will be assigned to the variable as a list:

In [38]:
# Assign the rest of the values as a list called "red":

vehicle = ('car', 'bus', 'bike', 'plane', 'ship')
(car,bus,bike,*big_vehicles) = vehicle
car,bus,bike,big_vehicles

('car', 'bus', 'bike', ['plane', 'ship'])

If the asterisk is added to another variable name than the last, Python will assign values to the variable until the number of values left matches the number of variables left.

In [39]:
(car,*vehicles,ship) = vehicle
car,vehicles,ship

('car', ['bus', 'bike', 'plane'], 'ship')

---

# Loop Tuples
You can loop through the tuple items by using a for loop.

In [40]:
thistuple = ("apple", "banana", "cherry")
for x in thistuple:
  print(x)

apple
banana
cherry

## Loop Through the Index Numbers
- You can also loop through the tuple items by referring to their index number.

- Use the range() and len() functions to create a suitable iterable.

In [42]:
vehicle = ('car', 'bus', 'bike', 'plane', 'ship')
for indx in range(len(vehicle)):
    print(vehicle[indx])

car
bus
bike
plane
ship

## Using a While Loop
- You can loop through the tuple items by using a while loop.

- Use the len() function to determine the length of the tuple, then start at 0 and loop your way through the tuple items by referring to their indexes.

- Remember to increase the index by 1 after each iteration.

In [43]:
vehicle = ('car', 'bus', 'bike', 'plane', 'ship')
n = 0
while n < len(vehicle):
    print(vehicle[n])
    n += 1

car
bus
bike
plane
ship

----

##  Join Tuples
To join two or more tuples you can use the + operator:

In [44]:
tpl1 = (1,2,3,4)
tpl2 = (5,6)

tpl3 = tpl1+tpl2
tpl3

(1, 2, 3, 4, 5, 6)

## Multiply Tuples
If you want to multiply the content of a tuple a given number of times, you can use the * operator:

In [45]:
fruits = ('apple','orange','berry')
new_tpl = fruits * 2
new_tpl

('apple', 'orange', 'berry', 'apple', 'orange', 'berry')

---

## count()

In [47]:
tpl = ('apple', 'orange', 'berry', 'apple',)
tpl.count('apple')

2

In [51]:
tpl = (1,2,3,2,4,6,8,54,5,4,4,3,4,3,2,5)
dict = {}
for val in tpl:
    if val not in dict:
        dict[val] = 1
    else:
        dict[val] += 1
dict

{1: 1, 2: 3, 3: 3, 4: 4, 6: 1, 8: 1, 54: 1, 5: 2}