# List
- Lists are used to store multiple items in a single variable.

- Lists are one of 4 built-in data types in Python used to store collections of data, the other 3 are Tuple, Set, and Dictionary, all with different qualities and usage.

- Lists are created using square brackets:

In [1]:
mylist = ["apple", "banana", "cherry"]
mylist

['apple', 'banana', 'cherry']

### List Length
- To determine how many items a list has, use the len() function:

In [2]:
my_list = [1,2,3,4,5,6]
len(my_list)

6

### List Items - Data Types
- List items can be of any data type:

In [3]:
list_object = ['mango','apple','orange']
list_numbers = [1,2,3,4,5,6]
list_boolean = [True,False]
list_object,list_numbers,list_boolean

(['mango', 'apple', 'orange'], [1, 2, 3, 4, 5, 6], [True, False])

- A list can contain different data types:

In [4]:
list_all_dataTypes = [1,"mango",False,0.2]
list_all_dataTypes

[1, 'mango', False, 0.2]

### type()
- From Python's perspective, lists are defined as objects with the data type 'list':

In [6]:
my_number_list = [1,2,3,4,5]
type(my_number_list)

list

### The list() Constructor
- It is also possible to use the list() constructor when creating a new list.

In [7]:
the_list = list(('green','blue','orange'))
the_list

['green', 'blue', 'orange']

# Python - Access List Items

- List items are indexed and you can access them by referring to the index number:

In [14]:
the_list = ['one','two','three','four']
the_list[2]

'three'

## Negative Indexing
- Negative indexing means start from the end
-1 refers to the last item, -2 refers to the second last item etc.

In [15]:
the_list[-1]

'four'

## Range of Indexes
- You can specify a range of indexes by specifying where to start and where to end the range.

- When specifying a range, the return value will be a new list with the specified items.

In [16]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
thislist[3:5]

['orange', 'kiwi']

#### Example
- This example returns the items from the beginning to, but NOT including, "kiwi":

In [17]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[:4])

['apple', 'banana', 'cherry', 'orange']

- By leaving out the end value, the range will go on to the end of the list:
#### Example
- This example returns the items from "cherry" to the end:

In [18]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:])

['cherry', 'orange', 'kiwi', 'melon', 'mango']

## Range of Negative Indexes
- Specify negative indexes if you want to start the search from the end of the list:

#### Example
- This example returns the items from "orange" (-4) to, but NOT including "mango" (-1):

In [19]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[-4:-1])

['orange', 'kiwi', 'melon']

## Check if Item Exists
- To determine if a specified item is present in a list use the in keyword:

#### Example
- Check if "apple" is present in the list:

In [22]:
list_fruits = ['apple','orange','mango','pineapple']
if 'apple' in list_fruits:
    print('Fount')

Fount

# Python - Change List Items

## Change Item Value
- To change the value of a specific item, refer to the index number:

### Example
- Change the second item:

In [23]:
list_change = ['apple','banana','berry','orange']
list_change[1] = 'banana changed'
list_change

['apple', 'banana changed', 'berry', 'orange']

## Change a Range of Item Values
- To change the value of items within a specific range, define a list with the new values, and refer to the range of index numbers where you want to insert the new values:

In [24]:
list_change = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
list_change[2:4] = ['changed 1 ','changed 2']
list_change

['apple', 'banana', 'changed 1 ', 'changed 2', 'kiwi', 'mango']

- If you insert more items than you replace, the new items will be inserted where you specified, and the remaining items will move accordingly:

In [25]:
thislist = ["apple", "banana", "cherry"]
thislist[1:2] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'cherry']

- If you insert less items than you replace, the new items will be inserted where you specified, and the remaining items will move accordingly:

In [26]:
thislist = ["apple", "banana", "cherry"]
thislist[1:3] = ["watermelon"]
print(thislist)

['apple', 'watermelon']

## Insert Items
- To insert a new list item, without replacing any of the existing values, we can use the insert() method.

In [27]:
the_list = ["apple", "banana", "cherry"]
the_list.insert(1,'mellon')
the_list

['apple', 'mellon', 'banana', 'cherry']

# Add List Items

## Append Items
- To add an item to the end of the list, use the append() method:

In [28]:
item_list = ['mango','apple']
item_list.append('sugercane')
item_list

['mango', 'apple', 'sugercane']

## Insert Items
- To insert a list item at a specified index, use the insert() method.

- The insert() method inserts an item at the specified index:

In [30]:
list_item = ['item1','item2','item3']
list_item.insert(1,'inserted item')
list_item

['item1', 'inserted item', 'item2', 'item3']

## Extend List
- To append elements from another list to the current list, use the extend() method.

In [31]:
list_1 = [1,2,3,4,5]
list_2 = [6,7,8,9,10]
list_1.extend(list_2)
list_1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### Add Any Iterable
- The extend() method does not have to append lists, you can add any iterable object (tuples, sets, dictionaries etc.).

In [32]:
list_main = ['water','air','soil']
tuple_values = ('space','gravity')
list_main.extend(tuple_values)
list_main

['water', 'air', 'soil', 'space', 'gravity']

# Remove List Items

## Remove Specified Item
- The remove() method removes the specified item.

In [33]:
list_main = ['water','air','soil']
list_main.remove('water')
list_main

['air', 'soil']

- If there are more than one item with the specified value, the remove() method removes the first occurrence:
#### Example
- Remove the first occurrence of "banana":

In [34]:
thislist = ["apple", "banana", "cherry", "banana", "kiwi"]
thislist.remove('banana')
thislist

['apple', 'cherry', 'banana', 'kiwi']

## Remove Specified Index
- The pop() method removes the specified index.

In [35]:
thislist = ["apple", "banana", "cherry", "banana", "kiwi"]
thislist.pop(2)
thislist

['apple', 'banana', 'banana', 'kiwi']

- If you do not specify the index, the pop() method removes the last item.

In [36]:
thislist = ["apple", "banana", "cherry", "banana", "kiwi"]
thislist.pop()
thislist

['apple', 'banana', 'cherry', 'banana']

- The del keyword also removes the specified index:

In [37]:
del thislist[2]
thislist

['apple', 'banana', 'banana']

- The del keyword can also delete the list completely.

In [38]:
del thislist

## Clear the List
- The clear() method empties the list.

- The list still remains, but it has no content.

In [39]:
thislist = ["apple", "banana", "cherry", "banana", "kiwi"]
thislist.clear()
thislist

[]

# Loop Lists

## Loop Through a List
- You can loop through the list items by using a for loop:
learn more about For loop ==> [for loop](for_loop.ipynb)

#### Example
- Print all items in the list, one by one:

In [40]:
num_list = [1,2,3,4,5]
for i in num_list:
    print(i)

1
2
3
4
5

## Loop Through the Index Numbers
- You can also loop through the list items by referring to their index number.

- Use the range() and len() functions to create a suitable iterable.

#### Example
- Print all items by referring to their index number:

In [41]:
for i in range(len(num_list)):
    print(i)

0
1
2
3
4

## Using a While Loop
- You can loop through the list items by using a while loop.

- Use the len() function to determine the length of the list, then start at 0 and loop your way through the list items by referring to their indexes.

- Remember to increase the index by 1 after each iteration.

learn more about while loop ==> [while loop](while_loop.ipynb)

In [46]:
count = 0
while count < len(num_list):
    print (num_list[count])
    count += 1

1
2
3
4
5

## Looping Using List Comprehension
- List Comprehension offers the shortest syntax for looping through lists:
### List Comprehension
- List comprehension offers a shorter syntax when you want to create a new list based on the values of an existing list.

#### Example:

- Based on a list of fruits, you want a new list, containing only the fruits with the letter "a" in the name.

- Without list comprehension you will have to write a for statement with a conditional test inside:

In [ ]:
# For loop

list_num = [1,2,3,4,5,6,7]
new_list = []
for i in list_num:
    if i %2 == 0:
        new_list.append(i)
list_num , new_list

([1, 2, 3, 4, 5, 6, 7], [2, 4, 6])

In [ ]:
# List comprehension

list_num = [1,2,3,4,5,6,7]
new_list = [i for i in list_num if i % 2 == 0]
new_list

[2, 4, 6]