List Methods
Python has a set of built-in methods that you can use on lists.

| Method     | Description                                                                 |
|------------|------------------------------------------------------------------------------|
| append()   | Adds an element at the end of the list                                       |
| clear()    | Removes all the elements from the list                                       |
| copy()     | Returns a copy of the list                                                   |
| count()    | Returns the number of elements with the specified value                      |
| extend()   | Add the elements of a list (or any iterable), to the end of the current list |
| index()    | Returns the index of the first element with the specified value              |
| insert()   | Adds an element at the specified position                                    |
| pop()      | Removes the element at the specified position                                |
| remove()   | Removes the item with the specified value                                    |
| reverse()  | Reverses the order of the list                                               |
| sort()     | Sorts the list                                                               |

---

# List
- Lists are used to store multiple items in a single variable.

- Lists are one of 4 built-in data types in Python used to store collections of data, the other 3 are Tuple, Set, and Dictionary, all with different qualities and usage.

- Lists are created using square brackets:

In [2]:
mylist = ["apple", "banana", "cherry"]
mylist

['apple', 'banana', 'cherry']

### List Length
- To determine how many items a list has, use the len() function:

In [3]:
my_list = [1,2,3,4,5,6]
len(my_list)

6

### List Items - Data Types
- List items can be of any data type:

In [4]:
list_object = ['mango','apple','orange']
list_numbers = [1,2,3,4,5,6]
list_boolean = [True,False]
list_object,list_numbers,list_boolean

(['mango', 'apple', 'orange'], [1, 2, 3, 4, 5, 6], [True, False])

- A list can contain different data types:

In [5]:
list_all_dataTypes = [1,"mango",False,0.2]
list_all_dataTypes

[1, 'mango', False, 0.2]

### type()
- From Python's perspective, lists are defined as objects with the data type 'list':

In [6]:
my_number_list = [1,2,3,4,5]
type(my_number_list)

list

### The list() Constructor
- It is also possible to use the list() constructor when creating a new list.

In [7]:
the_list = list(('green','blue','orange'))
the_list

['green', 'blue', 'orange']

# Python - Access List Items

- List items are indexed and you can access them by referring to the index number:

In [8]:
the_list = ['one','two','three','four']
the_list[2]

'three'

## Negative Indexing
- Negative indexing means start from the end
-1 refers to the last item, -2 refers to the second last item etc.

In [9]:
the_list[-1]

'four'

## Range of Indexes
- You can specify a range of indexes by specifying where to start and where to end the range.

- When specifying a range, the return value will be a new list with the specified items.

In [10]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
thislist[3:5]

['orange', 'kiwi']

#### Example
- This example returns the items from the beginning to, but NOT including, "kiwi":

In [11]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[:4])

['apple', 'banana', 'cherry', 'orange']

- By leaving out the end value, the range will go on to the end of the list:
#### Example
- This example returns the items from "cherry" to the end:

In [12]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:])

['cherry', 'orange', 'kiwi', 'melon', 'mango']

## Range of Negative Indexes
- Specify negative indexes if you want to start the search from the end of the list:

#### Example
- This example returns the items from "orange" (-4) to, but NOT including "mango" (-1):

In [13]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[-4:-1])

['orange', 'kiwi', 'melon']

## Check if Item Exists
- To determine if a specified item is present in a list use the in keyword:

#### Example
- Check if "apple" is present in the list:

In [14]:
list_fruits = ['apple','orange','mango','pineapple']
if 'apple' in list_fruits:
    print('Fount')

Fount

# Python - Change List Items

## Change Item Value
- To change the value of a specific item, refer to the index number:

### Example
- Change the second item:

In [15]:
list_change = ['apple','banana','berry','orange']
list_change[1] = 'banana changed'
list_change

['apple', 'banana changed', 'berry', 'orange']

## Change a Range of Item Values
- To change the value of items within a specific range, define a list with the new values, and refer to the range of index numbers where you want to insert the new values:

In [16]:
list_change = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
list_change[2:4] = ['changed 1 ','changed 2']
list_change

['apple', 'banana', 'changed 1 ', 'changed 2', 'kiwi', 'mango']

- If you insert more items than you replace, the new items will be inserted where you specified, and the remaining items will move accordingly:

In [17]:
thislist = ["apple", "banana", "cherry"]
thislist[1:2] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'cherry']

- If you insert less items than you replace, the new items will be inserted where you specified, and the remaining items will move accordingly:

In [18]:
thislist = ["apple", "banana", "cherry"]
thislist[1:3] = ["watermelon"]
print(thislist)

['apple', 'watermelon']

## Insert Items
- To insert a new list item, without replacing any of the existing values, we can use the insert() method.

In [19]:
the_list = ["apple", "banana", "cherry"]
the_list.insert(1,'mellon')
the_list

['apple', 'mellon', 'banana', 'cherry']

# Add List Items

## Append Items
- To add an item to the end of the list, use the append() method:

In [20]:
item_list = ['mango','apple']
item_list.append('sugercane')
item_list

['mango', 'apple', 'sugercane']

## Insert Items
- To insert a list item at a specified index, use the insert() method.

- The insert() method inserts an item at the specified index:

In [21]:
list_item = ['item1','item2','item3']
list_item.insert(1,'inserted item')
list_item

['item1', 'inserted item', 'item2', 'item3']

## Extend List
- To append elements from another list to the current list, use the extend() method.

In [22]:
list_1 = [1,2,3,4,5]
list_2 = [6,7,8,9,10]
list_1.extend(list_2)
list_1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### Add Any Iterable
- The extend() method does not have to append lists, you can add any iterable object (tuples, sets, dictionaries etc.).

In [23]:
list_main = ['water','air','soil']
tuple_values = ('space','gravity')
list_main.extend(tuple_values)
list_main

['water', 'air', 'soil', 'space', 'gravity']

# Remove List Items

## Remove Specified Item
- The remove() method removes the specified item.

In [24]:
list_main = ['water','air','soil']
list_main.remove('water')
list_main

['air', 'soil']

- If there are more than one item with the specified value, the remove() method removes the first occurrence:
#### Example
- Remove the first occurrence of "banana":

In [25]:
thislist = ["apple", "banana", "cherry", "banana", "kiwi"]
thislist.remove('banana')
thislist

['apple', 'cherry', 'banana', 'kiwi']

## Remove Specified Index
- The pop() method removes the specified index.

In [26]:
thislist = ["apple", "banana", "cherry", "banana", "kiwi"]
thislist.pop(2)
thislist

['apple', 'banana', 'banana', 'kiwi']

- If you do not specify the index, the pop() method removes the last item.

In [27]:
thislist = ["apple", "banana", "cherry", "banana", "kiwi"]
thislist.pop()
thislist

['apple', 'banana', 'cherry', 'banana']

- The del keyword also removes the specified index:

In [28]:
del thislist[2]
thislist

['apple', 'banana', 'banana']

- The del keyword can also delete the list completely.

In [29]:
del thislist

## Clear the List
- The clear() method empties the list.

- The list still remains, but it has no content.

In [30]:
thislist = ["apple", "banana", "cherry", "banana", "kiwi"]
thislist.clear()
thislist

[]

# Loop Lists

## Loop Through a List
- You can loop through the list items by using a for loop:
learn more about For loop ==> [for loop](for_loop.ipynb)

#### Example
- Print all items in the list, one by one:

In [31]:
num_list = [1,2,3,4,5]
for i in num_list:
    print(i)

1
2
3
4
5

## Loop Through the Index Numbers
- You can also loop through the list items by referring to their index number.

- Use the range() and len() functions to create a suitable iterable.

#### Example
- Print all items by referring to their index number:

In [32]:
for i in range(len(num_list)):
    print(i)

0
1
2
3
4

## Using a While Loop
- You can loop through the list items by using a while loop.

- Use the len() function to determine the length of the list, then start at 0 and loop your way through the list items by referring to their indexes.

- Remember to increase the index by 1 after each iteration.

learn more about while loop ==> [while loop](while_loop.ipynb)

In [33]:
count = 0
while count < len(num_list):
    print (num_list[count])
    count += 1

1
2
3
4
5

## Looping Using List Comprehension
- List Comprehension offers the shortest syntax for looping through lists:
### List Comprehension
- List comprehension offers a shorter syntax when you want to create a new list based on the values of an existing list.

#### Example:

- Based on a list of fruits, you want a new list, containing only the fruits with the letter "a" in the name.

- Without list comprehension you will have to write a for statement with a conditional test inside:

##### The Syntax
- newlist = [expression for item in iterable if condition == True]
- The return value is a new list, leaving the old list unchanged.

In [34]:
# For loop

list_num = [1,2,3,4,5,6,7]
new_list = []
for i in list_num:
    if i %2 == 0:
        new_list.append(i)
new_list

[2, 4, 6]

In [35]:
# List comprehension

list_num = [1,2,3,4,5,6,7]
new_list = [i for i in list_num if i % 2 == 0]
new_list

[2, 4, 6]

### Condition
- The condition is like a filter that only accepts the items that evaluate to True.

#### Example
- Only accept items that are not "apple":

In [36]:
list_fruit = ['apple','orange','banana','pineapple','orange','banana']
new_list =  [fruit for fruit in list_fruit if fruit != 'apple']
new_list

['orange', 'banana', 'pineapple', 'orange', 'banana']

- The condition if x != "apple"  will return True for all elements other than "apple", making the new list contain all fruits except "apple". The condition is optional and can be omitted:

#### Example
With no if statement:

In [37]:
[num for num in range(10)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [38]:
[fruit for fruit in list_fruit]

['apple', 'orange', 'banana', 'pineapple', 'orange', 'banana']

### Expression
- The expression is the current item in the iteration, but it is also the outcome, which you can manipulate before it ends up like a list item in the new list:
#### Example
- Set the values in the new list to upper case:

In [39]:
[i.upper() for i  in list_fruit]

['APPLE', 'ORANGE', 'BANANA', 'PINEAPPLE', 'ORANGE', 'BANANA']

#### Example
- Return "change" instead of "banana":

In [40]:
[fruits if fruits != 'banana' else 'change' for fruits in list_fruit]

['apple', 'orange', 'change', 'pineapple', 'orange', 'change']

# Sort Lists

## Sort List Alphanumerically
- List objects have a sort() method that will sort the list alphanumerically, ascending, by default:

In [41]:
student_list = ['aishu','meenu','achu','avani','sulaja','rajan']
student_list.sort()
student_list

['achu', 'aishu', 'avani', 'meenu', 'rajan', 'sulaja']

#### Example
Sort the list numerically:

In [42]:
student_list_num = [1,5,2,45,30,28,29,21]
student_list_num.sort()
student_list_num

[1, 2, 5, 21, 28, 29, 30, 45]

## Sort Descending
To sort descending, use the keyword argument reverse = True:

In [43]:
student_list_num.sort(reverse=True)
student_list_num

[45, 30, 29, 28, 21, 5, 2, 1]

## Customize Sort Function
- You can also customize your own function by using the keyword argument key = function.

- The function will return a number that will be used to sort the list (the lowest number first):

#### Example
Sort the list based on how close the number is to 50:

abs // is absalute distance . it returns the value that has min distance with the number ,

In [44]:
def My_fun(nums):
    return abs(nums - 50)

numbers = [100,200,50,34,250,70]
numbers.sort(key=My_fun)
numbers

[50, 34, 70, 100, 200, 250]

## Case Insensitive Sort
- By default the sort() method is case sensitive, resulting in all capital letters being sorted before lower case letters:
- Case sensitive sorting can give an unexpected result:
- Luckily we can use built-in functions as key functions when sorting a list.

- So if you want a case-insensitive sort function, use <mark> str.lower </mark> as a key function:

In [45]:
list_names = ['sura','deshamoolam','Andru','Machambi','lootaPPi']
list_names.sort(key=str.lower)
list_names

['Andru', 'deshamoolam', 'lootaPPi', 'Machambi', 'sura']

# Copy Lists
You cannot copy a list simply by typing list2 = list1, because: list2 will only be a reference to list1, and changes made in list1 will automatically also be made in list2.

## Use the <mark> copy()</mark> method
- You can use the built-in List method copy() to copy a list.

In [49]:
main_list = [1,2,3,4,5,6,7]
coppy_list = main_list.copy()
coppy_list

[1, 2, 3, 4, 5, 6, 7]

## Use the list() method
- Another way to make a copy is to use the built-in method list().

In [47]:
coppy_list = list(main_list)
coppy_list

[1, 2, 3, 4, 5, 6, 7]

#### List vs copy
- copy and list , both are used to initilise a copy of a exisiting list, but the copy and list have different advantages, the copy make a replication of the orginal list , list() is do the same but it make a new list with the value in it so we can convert ant type of data into list that is we can convert to list even the tuple, distnory, set ..

## Use the slice Operator
You can also make a copy of a list by using the : (slice) operator.

In [48]:
new_list = main_list[:]
new_list

[1, 2, 3, 4, 5, 6, 7]

# Join Lists
## Join Two Lists
- There are several ways to join, or concatenate, two or more lists in Python.

- One of the easiest ways are by using the + operator.

In [51]:
list_1 = [1,2,3,4,5]
list_2 = [6,7,8,9,0]

comb_list = list_1 + list_2
comb_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0]

Another way to join two lists is by appending all the items from list2 into list1, one by one:

In [52]:
list_1 = [1,2,3,4,5]
list_2 = [6,7,8,9,0]

for i in list_2:
    list_1.append(i)

list_1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0]

Or you can use the <mark> extend() </mark> method, where the purpose is to add elements from one list to another list:

In [53]:
list_1 = [1,2,3,4,5]
list_2 = [6,7,8,9,0]

list_1.extend(list_2)
list_1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0]

---
- resources from w3 school : learn more about list : [click here](https://www.w3schools.com/python/python_lists.asp)
- learn well finish with a test : [click here](https://www.w3schools.com/python/exercise.asp?x=xrcise_lists1)